@import "tailwindcss";

@theme {
    --color-bg: #212121;
    --color-accent-green: #3EF050;
    --color-text-highlight: #DEDEDE;
    --color-text-normal: #B6B6B6;

    --font-anton: var(--font-anton);
    --font-roboto-flex: var(--font-roboto-flex);
}

body {
    @apply bg-bg text-text-normal font-roboto-flex;
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}